.greenmind {
    position: absolute;
    top: 44px;
    left: 96px;
    font-size: 24px;
    font-family: var(--font-quella);
  }
  .home {
    color: var(--color-2);
  }
  .home,
  .products {
    position: relative;
    font-weight: 500;
  }
  .home-parent {
    position: absolute;
    top: 48px;
    left: 334px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-29xl);
    color: var(--color-4);
  }
  .cart-icon {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-child {
    position: relative;
    border-right: 1px solid var(--color-2);
    box-sizing: border-box;
    width: 1px;
    height: 25px;
  }
  .cart-parent {
    position: absolute;
    top: 48px;
    left: 1128px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-29xl);
  }
  .buy-your-dream {
    position: relative;
    line-height: 64px;
    font-weight: 800;
    display: inline-block;
    width: 512px;
  }
  .plant-species {
    position: relative;
    font-size: var(--font-size-lg);
    font-weight: 500;
  }
  .parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-item {
    position: relative;
    border-right: 1px solid var(--color-2);
    box-sizing: border-box;
    width: 1px;
    height: 65px;
  }
  .frame-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-29xl);
    font-size: var(--font-size-13xl);
    color: var(--color-2);
  }
  .buy-your-dream-plants-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
  }
  .what-are-you {
    position: absolute;
    top: 18px;
    left: 18px;
    font-weight: 500;
  }
  .frame-inner {
    position: absolute;
    top: 8px;
    left: 393px;
    border-radius: var(--br-xs);
    background-color: var(--color-1);
    width: 48px;
    height: 48px;
  }
  .search-icon {
    position: absolute;
    top: 22px;
    left: 407px;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
  .what-are-you-looking-for-parent {
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    width: 449px;
    height: 64px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: var(--font-size-lg);
    color: var(--color-4);
  }
  .frame-group {
    position: absolute;
    top: 48px;
    left: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-29xl);
  }
  .rectangle-div {
    position: absolute;
    top: 123px;
    left: 726px;
    border-radius: var(--br-181xl) var(--br-181xl) 0 var(--br-181xl);
    background-color: var(--color-2);
    width: 450px;
    height: 400px;
  }
  .unsplash-claaxa4dsnc-removebg-icon {
    position: absolute;
    top: 18px;
    left: 781px;
    width: 411px;
    height: 513.98px;
    object-fit: cover;
  }
  .frame-child1,
  .vector-icon {
    position: absolute;
    top: 269px;
    left: 522px;
    width: 203.54px;
    height: 192.09px;
    object-fit: contain;
  }
  .frame-child1 {
    top: 13px;
    left: 1085px;
    width: 159.19px;
    height: 180.32px;
  }
  .frame-parent {
    position: absolute;
    top: 123px;
    left: 96px;
    border-radius: 24px;
    background-color: var(--color-1);
    width: 1248px;
    height: 512px;
    overflow: hidden;
    font-size: 64px;
    color: var(--color-black);
  }
  .best-selling-plants,
  .easiest-way-to {
    position: relative;
    display: inline-block;
    width: 256px;
  }
  .easiest-way-to {
    font-size: var(--font-size-lg);
    font-weight: 500;
    color: var(--color-4);
    width: 196px;
  }
  .best-selling-plants-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .arrowright-icon {
    position: relative;
    width: 24px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-div,
  .see-more-parent {
    display: flex;
    justify-content: flex-start;
  }
  .see-more-parent {
    border-radius: var(--br-5xs);
    background-color: var(--color-1);
    flex-direction: row;
    align-items: center;
    padding: var(--padding-xs) var(--padding-5xl);
    gap: var(--gap-3xs);
    font-size: var(--font-size-lg);
  }
  .frame-div {
    position: absolute;
    top: 732px;
    left: 96px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-5xl);
    font-size: var(--font-size-13xl);
  }
  .frame-icon {
    position: relative;
    border-radius: var(--br-xs);
    width: 299.33px;
    height: 363px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .div2 {
    position: relative;
    font-weight: 500;
    color: var(--color-4);
  }
  .frame-parent1,
  .frame-parent2,
  .frame-parent3,
  .natural-plants-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-6xs);
  }
  .frame-parent1,
  .frame-parent2,
  .frame-parent3 {
    position: absolute;
    top: 731px;
    left: 352px;
    gap: var(--gap-xs);
  }
  .frame-parent2,
  .frame-parent3 {
    left: 699.33px;
  }
  .frame-parent3 {
    left: 1046.67px;
  }
  .landing-page {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 1440px;
    height: 1280px;
    overflow: hidden;
  }
  .order-now-and {
    position: relative;
    font-size: var(--font-size-lg);
    font-weight: 500;
    color: var(--color-4);
  }
  .about-us-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .group-icon {
    width: 96px;
    height: 96px;
  }
  .group-icon,
  .large-assortment {
    position: relative;
  }
  .group-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xl);
  }
  .we-offer-many {
    position: relative;
    font-weight: 500;
    color: var(--color-4);
    text-align: center;
    display: inline-block;
    width: 400px;
  }
  .frame-parent4,
  .frame-parent5 {
    display: flex;
    justify-content: flex-start;
  }
  .frame-parent5 {
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-5xl);
    font-size: var(--font-size-lg);
    color: var(--color-black);
  }
  .frame-parent4 {
    position: absolute;
    top: -1px;
    left: 96px;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-29xl);
  }
  .about-us {
    position: absolute;
    top: 1280px;
    left: 0;
    background-color: var(--color-white);
    width: 1440px;
    height: 512px;
    overflow: hidden;
    font-size: var(--font-size-13xl);
  }
  .categories-parent {
    position: absolute;
    top: 0;
    left: 589px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child6 {
    position: relative;
    border-radius: var(--br-xs);
    width: 352px;
    height: 512px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .frame-parent10,
  .frame-parent11 {
    position: absolute;
    top: -48px;
    left: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-parent11 {
    left: 992px;
  }
  .horem-ipsum-dolor {
    position: relative;
    font-weight: 500;
    color: var(--color-4);
    text-align: center;
    display: inline-block;
    width: 352px;
  }
  .explore-parent,
  .frame-parent12 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .explore-parent {
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    flex-direction: row;
    padding: var(--padding-xs) var(--padding-5xl);
    gap: var(--gap-3xs);
    text-align: center;
  }
  .frame-parent12 {
    position: absolute;
    top: 48px;
    left: 544px;
    flex-direction: column;
    gap: var(--gap-5xl);
  }
  .frame-parent9 {
    position: absolute;
    top: 183px;
    left: 0;
    background-color: var(--color-1);
    width: 1440px;
    height: 841px;
    font-size: var(--font-size-lg);
  }
  .categories,
  .what-customers-say {
    position: absolute;
    font-size: var(--font-size-13xl);
  }
  .categories {
    top: 1792px;
    left: 0;
    background-color: var(--color-white);
    width: 1440px;
    height: 1024px;
    overflow: hidden;
  }
  .what-customers-say {
    top: 96px;
    left: 96px;
    display: inline-block;
    color: var(--color-black);
    width: 457px;
  }
  .jorem-ipsum-dolor {
    position: absolute;
    top: 48px;
    left: 48px;
    font-weight: 500;
    display: inline-block;
    width: 704px;
  }
  .vector-icon1 {
    position: absolute;
    height: 19.9%;
    width: 32%;
    top: 30.1%;
    right: 44.67%;
    bottom: 50%;
    left: 23.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .unsplash-5aguycw-pjw-removebg-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 205.99px;
    object-fit: cover;
  }
  .vector-parent {
    position: absolute;
    height: 62.42%;
    width: 18.75%;
    top: 38.18%;
    right: 79.63%;
    bottom: -0.6%;
    left: 1.63%;
  }
  .youtuber {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 500;
    color: var(--color-4);
  }
  .john-doe-parent {
    position: absolute;
    top: 183px;
    left: 170px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--color-2);
  }
  .jorem-ipsum-dolor-sit-amet-co-parent {
    position: absolute;
    top: 240px;
    left: 96px;
    border-radius: var(--br-xs);
    background-color: var(--color-1);
    width: 800px;
    height: 330px;
    overflow: hidden;
  }
  .vector-icon2 {
    position: absolute;
    height: 21.35%;
    width: 37.5%;
    top: 26.04%;
    right: 47.66%;
    bottom: 52.6%;
    left: 14.84%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .unsplash-o3ymvt7wf9u-removebg-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 192px;
    object-fit: cover;
  }
  .vector-group {
    position: absolute;
    height: 58.18%;
    width: 16%;
    top: 41.82%;
    right: 80.38%;
    bottom: 0;
    left: 3.63%;
  }
  .jorem-ipsum-dolor-sit-amet-co-group {
    position: absolute;
    top: 240px;
    left: 944px;
    border-radius: var(--br-xs);
    background-color: var(--color-1);
    width: 800px;
    height: 330px;
    overflow: hidden;
  }
  .starfill-icon {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .starfill-parent {
    position: absolute;
    top: 423px;
    left: 787px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
    color: var(--color-2);
  }
  .frame-child10,
  .frame-child9 {
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-1);
    width: 48px;
    height: 6px;
  }
  .frame-child10 {
    background-color: var(--color-gainsboro);
    width: 12px;
  }
  .rectangle-parent {
    position: absolute;
    top: 108px;
    left: 1260px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
  }
  .testimonial {
    position: absolute;
    top: 2816px;
    left: 0;
    background-color: var(--color-white);
    width: 1440px;
    height: 800px;
    overflow: hidden;
    color: var(--color-gray-100);
  }
  .we-help-you {
    position: relative;
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-4);
    display: inline-block;
    width: 189px;
  }
  .frame-child12 {
    position: relative;
    width: 48px;
    height: 48px;
  }
  .frame-parent15,
  .group-parent2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xl);
  }
  .frame-parent15 {
    position: absolute;
    top: 48px;
    left: 96px;
    flex-direction: column;
    color: var(--color-black);
    font-family: var(--font-quella);
  }
  .information {
    position: relative;
    color: var(--color-2);
  }
  .frame-parent16 {
    position: absolute;
    top: 48px;
    left: 892px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-29xl);
  }
  .all-right-reserved {
    position: absolute;
    top: 325px;
    left: 97px;
    font-weight: 500;
  }
  .footer {
    position: absolute;
    top: 3616px;
    left: 0;
    background-color: var(--color-1);
    width: 1440px;
    height: 400px;
    overflow: hidden;
    color: var(--color-4);
  }
  .final-design {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 4016px;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-2);
    font-family: var(--font-poppins);
  }
  